<p class="text-xs-center">Регистрация</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="login">Логин:</label>
    <input
      id="login"
      type="text"
      class="form-control underlined"
      formControlName="login"
    >
    <span class="form-help-text" *ngIf="form.get('login').invalid && form.get('login').touched">
      <span *ngIf="form.get('login')['errors']['required']">Логин не может быть пустым!</span>
      <span *ngIf="form.get('login')['errors']['duplicateLogin']">Логин уже занят!</span>
    </span>
  </div>
  <div class="form-group">
    <label for="password">Пароль:</label>
    <input
      id="password"
      type="password"
      class="form-control underlined"
      formControlName="password"
    >
    <span class="form-help-text" *ngIf="form.get('password').invalid && form.get('password').touched">
      <span *ngIf="form.get('password')['errors']['required']">Пароль не может быть пустым!</span>
        <span
          *ngIf="form.get('password')['errors']['minlength'] && form.get('password')['errors']['minlength']['requiredLength']">
        Пароль должен быть больше {{ form.get('password')['errors']['minlength']['requiredLength'] }} знаков!
        Сейчас введено {{ form.get('password')['errors']['minlength']['actualLength'] }}
      </span>
    </span>
  </div>
  <div class="form-group">
    <label for="password">Имя:</label>
    <input
      id="name"
      type="text"
      class="form-control underlined"
      formControlName="name"
    >
    <span class="form-help-text" *ngIf="form.get('name').invalid && form.get('login').touched">
      <span *ngIf="form.get('name')['errors']['required']">Имя не может быть пустым!</span>
    </span>
  </div>
  <div class="form-control underlined">
    <button
      type="submit"
      class="btn btn-block btn-primary"
      [disabled]="form.invalid"
    >
      Зарегистрироваться
    </button>
  </div>
</form>
